.section--purpose {
  padding: $space--xxl 0;
  --purpose-text-width: 580px;
  color: $white;
  position: relative;

  .code {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: .05;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }

  h1 {
    margin: 0;
    max-width: var(--purpose-text-width);
  }

  p {
    margin-bottom: 0;
    max-width: var(--purpose-text-width);
  }

  a {
    font-size: 35px;
    display: inline-block;
    line-height: 1;
    padding: 10px 70px 15px 40px;
    text-align: left;
    position: relative;
    font-family: $sans;
    color: $brand-color-1;
    margin-top: 50px;
    border-radius: 5px;
    background: $brand-color-2;
    font-weight: bold;

    &:hover,
    &:focus,
    &:active  {
      text-decoration: none;
      transform: scale(1.05);
    }

    :after {
      content: '〉';
      position: absolute;
      right: 10px;
      top: 14px;
      font-size: 50px;
      font-weight: 100;
    }

    span {
      font-size: 16px;
      display: block;
      font-weight: normal;
    }
  }
}
